.product-details-boxsize {
  margin-bottom: 2rem;
}

.product-details-tablesize {
  margin: 2rem auto;
  max-width: 1200px;
  padding: 0 1rem;
}

@media only screen and (max-width: 600px) {
    .product-details-tablesize {
        margin: 0;
        width: 100%;
        padding: 0;
    }
}

.product-details-tabletitle {
  margin-bottom: 1.5rem;
}

.product-details-tabletitle h2 {
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
  color: #f8fafc;
  font-size: 1.5rem;
  font-weight: 600;
}

.product-details-cardgrid {
  width: 100%;
}

.product-details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.product-details-crops {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  width: 100%;
}

.product-details-cropcard {
  background: rgba(51, 65, 85, 0.17);
  padding: 1rem 1rem;
  width: 100%;
  color: #e2e8f0;
}

.product-details-infocard {
  background: rgb(17 24 39);
  border: 1px solid rgba(148, 163, 184, 0.1);
  border-radius: 6px;
}

.product-details-cardlabel {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 1rem;
  color: #94a3b8;
  border-bottom: 1px solid rgba(148, 163, 184, 0.1);
  padding-bottom: 0.5rem;
}

.product-details-infocard p {
  color: #e2e8f0;
  line-height: 1.5;
  margin: 0;
}